@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

*{
    user-select: none;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
}